<header>
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a
          class="nav-link link-light"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-light"
          routerLink="/product/"
          routerLinkActive="active"
        >
          Products
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-light"
          routerLink="/category/"
          routerLinkActive="active"
        >
          Categories
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-light"
          routerLink="/tax/"
          routerLinkActive="active"
        >
          Taxes
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-light"
          routerLink="/cart/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Cart
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-light"
          routerLink="/cart/orderList/"
          routerLinkActive="active"
        >
          Order list
        </a>
      </li>
      <!-- <li class="nav-item">
        <a
          class="nav-link link-light"
          routerLink="/log"
          routerLinkActive="active"
        >
          Log
        </a>
      </li> -->
    </ul>
  </div>
</header>
