<div class="container home-page">
  <h1>Test task</h1>
  <div class="list">
    <p>You can chose:</p>
    <ul class="col-md-12">
      <li class="col-md-2">
        <a class="link-light" routerLink="/product">Products</a>
      </li>
      <li class="col-md-2">
        <a class="link-light" routerLink="/category">Categories</a>
      </li>
      <li class="col-md-2">
        <a class="link-light" routerLink="/tax">Taxes</a>
      </li>
      <li class="col-md-2">
        <a class="link-light" routerLink="/cart/orderList/">Orders</a>
      </li>
      <li class="col-md-2">
        <a class="link-light" routerLink="/cart">Cart</a>
      </li>
      <!-- <li class="col-md-2"><a class="link-light" routerLink="/log">Log</a></li> -->
    </ul>
  </div>
</div>
