<h2 *ngIf="!thankMessage; else thankMessageText">Cart</h2>
<ng-template #thankMessageText>
  <h2>{{ thankMessage }}</h2>
</ng-template>

<div *ngIf="cart && cart.products && cart.order; else emptyCart">
  <div *ngIf="cart.products">
    <table class="table border-bottom">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of cart.products">
          <td>{{ product.name }}</td>
          <td>1</td>
          <td>{{ product.price }}</td>
          <td>
            <button
              title="delete product"
              (click)="deleteProductFromCart(product)"
            >
              X
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cart.order">
    <p>Sales Taxes: {{ cart.order.totalTax }}</p>
    <p>Total: {{ cart.order.total }}</p>
    <button
      (click)="createOrder()"
      *ngIf="!thankMessage && cart.products && cart.order"
    >
      Order
    </button>
  </div>
</div>

<ng-template #emptyCart>
  <p>Cart is empty</p>
</ng-template>
